@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/exo-2-v21-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/exo-2-v21-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-v17-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-v17-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v40-latin-600.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Exo 2", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "Open San", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero__section {
  padding: 109px 67px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.hero__content {
  text-align: left;
}

.hero__title {
  min-width: 545px;
  margin-bottom: 40px;
  font-size: 52px;
  font-weight: 600;
  color: rgb(54, 55, 56);
  line-height: 65px;
  text-transform: inherit;
  color: rgb(54, 55, 56);
  font-family: "Exo 2" sans-serif;
}

.hero__text {
  max-width: 525px;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(107, 107, 108);
  line-height: 24px;
  text-transform: inherit;
  font-family: "PT Sans" sans-serif;
}

.hero-link {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  color: rgb(54, 55, 56);
  line-height: 24px;
  text-transform: inherit;
  font-family: "PT Sans" sans-serif;
  position: relative;
}
.hero-link::after {
  content: "";
  width: 115px;
  height: 0;
  position: absolute;
  top: 25px;
  left: 0;
  border: 3px solid rgb(255, 206, 80);
}

.hero-tablet, .hero-mobile {
  display: none;
}

.search {
  padding: 40px 122px 56px 80px;
  margin-top: 67px;
  border-radius: 20px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
}

.search__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.search__item {
  max-width: 228px;
  position: relative;
}

.line {
  border-left: none;
}
.line::before {
  content: "";
  width: 0;
  height: 277px;
  position: absolute;
  left: -63px;
  border: 1px solid rgb(215, 215, 221);
}

.search-title {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(54, 55, 56);
  line-height: 27px;
  text-transform: inherit;
  font-family: "Exo 2" sans-serif;
}

.search-text {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  color: rgb(107, 107, 108);
  line-height: 24px;
  text-transform: inherit;
  font-family: "PT Sans" sans-serif;
}

.search__list-mobile {
  display: none;
}

/* Tablet */
@media only screen and (max-width: 1369px) {
  .hero__title, .hero__text {
    width: 100%;
  }
  .hero-tablet, .hero-mobile {
    display: none;
  }
}
@media only screen and (max-width: 1287px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: 0;
    gap: 73px;
    flex-direction: column;
  }
  .hero__title {
    width: 100%;
    margin-bottom: 49px;
    font-size: 44px;
    font-weight: 600;
    color: rgb(54, 55, 56);
    line-height: 55px;
    text-transform: inherit;
  }
  .hero__text {
    min-width: 100%;
    margin-bottom: 44px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(107, 107, 108);
    line-height: 24px;
    text-transform: inherit;
  }
  .hero__content {
    text-align: center;
  }
  .hero-laptop, .hero-mobile {
    display: none;
  }
  .hero-tablet {
    display: block;
  }
  .search {
    padding: 24px 27px 32px 32px;
    margin-top: 56px;
    box-shadow: none;
  }
  .search__list {
    display: flex;
    align-items: center;
    justify-content: 0;
    gap: 16px;
    flex-direction: column;
  }
  .line::before {
    display: none;
  }
  .search__item {
    min-width: 100%;
    padding: 35px 140px 47px 32px;
    display: flex;
    align-items: center;
    justify-content: 0;
    gap: 32px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
    background: rgb(255, 255, 255);
  }
}
/* Mobile */
@media only screen and (max-width: 740px) {
  .hero__title {
    min-width: 100%;
    margin-bottom: 12px;
    font-size: 28px;
    font-weight: 600;
    color: rgb(54, 55, 56);
    line-height: 35px;
    text-transform: inherit;
  }
  .hero__text {
    width: 100%;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    color: rgb(107, 107, 108);
    line-height: 22px;
    text-transform: inherit;
  }
  .hero__content {
    text-align: left;
  }
  .hero-laptop, .hero-tablet {
    display: none;
  }
  .hero-mobile {
    display: block;
  }
  .search {
    padding: 0;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
    background: rgb(255, 255, 255);
  }
  .search__list {
    display: flex;
    align-items: center;
    justify-content: 0;
    gap: 24px;
    flex-direction: column;
  }
  .search__item {
    min-width: 100%;
    padding: 0 140px 0 32px;
    box-shadow: none;
  }
  .search__content-wrapper {
    display: block;
  }
  .search__item {
    min-width: 100%;
  }
}
@media only screen and (max-width: 569px) {
  .hero__title {
    min-width: 90%;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(54, 55, 56);
    line-height: 35px;
    text-transform: inherit;
  }
  .hero__text {
    width: 100%;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    color: rgb(107, 107, 108);
    line-height: 22px;
    text-transform: inherit;
  }
  .hero__content {
    text-align: left;
  }
  .hero-laptop, .hero-tablet {
    display: none;
  }
  .hero-mobile {
    display: block;
  }
  .search {
    padding: 0 27px 0 32px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
    background: rgb(255, 255, 255);
  }
  .search__item {
    display: flex;
    align-items: start;
    justify-content: 0;
    gap: 0;
    flex-direction: column;
    min-width: 100%;
    padding: 24px 0 32px 0;
    box-shadow: none;
  }
  .search__content-wrapper {
    display: block;
  }
  .search__list {
    display: none;
  }
  .search__list-mobile {
    display: block;
    display: flex;
    align-items: center;
    justify-content: 0;
    gap: 16px;
    flex-direction: column;
  }
}
@media only screen and (max-width: 390px) {
  .hero__title, .hero__text {
    width: 100%;
  }
  .search__list {
    display: none;
  }
  .search__list-mobile {
    display: block;
    display: flex;
    align-items: center;
    justify-content: 0;
    gap: 0;
    flex-direction: column;
  }
  .search__item {
    display: flex;
    align-items: start;
    justify-content: 0;
    gap: 0;
    flex-direction: column;
  }
}
.comfortable-section {
  padding-bottom: 120px;
}

.comfortable-back-image {
  height: 453px;
  background-image: url(../../images/comfortable-bg.png);
  background-repeat: no-repeat;
  position: relative;
}
.comfortable-back-image::after {
  content: "";
  width: 769px;
  height: 453.5px;
  position: absolute;
  background-image: url(../../images/comfortable-bg-color.png);
  top: 0;
}

.comfortable__image-title {
  max-width: 443px;
  padding: 178px 0 166px 90px;
  margin-bottom: 0px;
  font-size: 48px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  line-height: 60px;
  text-transform: inherit;
  font-family: "Exo 2" sans-serif;
  position: relative;
  z-index: 20;
}

.comfortable__card {
  margin-top: 72px;
}

.comfortable-list {
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 0;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 62px;
  -moz-column-gap: 140px;
       column-gap: 140px;
}

.comfortable-item {
  width: 447px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.comfortable__list-content {
  text-align: left;
}

.comfortable__list-title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(54, 55, 56);
  line-height: 24px;
  text-transform: inherit;
  font-family: "Exo 2" sans-serif;
}

.comfortable__list-text {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  color: rgb(107, 107, 108);
  line-height: 24px;
  text-transform: inherit;
  font-family: "PT Sans" sans-serif;
}

/* Tablet */
@media only screen and (max-width: 1247px) {
  .comfortable-section {
    padding-bottom: 100px;
  }
  .comfortable-back-image {
    height: 453px;
    background-image: url(../../images/comfortable--tablet-bg.png);
    background-repeat: no-repeat;
    position: relative;
  }
  .comfortable-back-image::after {
    content: "";
    width: 600px;
    height: 383px;
    position: absolute;
    background-image: url(../../images/comfortable--tablet-bg-color.png);
    top: 0;
  }
  .comfortable__image-title {
    width: 288px;
    padding: 112px 0 106px 85px;
    margin-bottom: 0px;
    font-size: 44px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 55px;
    text-transform: inherit;
  }
  .comfortable__card {
    margin-top: 48px;
  }
  .comfortable-list {
    display: flex;
    align-items: center;
    justify-content: 0;
    gap: 0;
    justify-content: center;
    flex-direction: column;
    gap: 49px;
  }
}
@media only screen and (max-width: 780px) {
  .comfortable-section {
    display: none;
  }
}
.work-section {
  padding-bottom: 80px;
}

.work__title {
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: 600;
  color: rgb(54, 55, 56);
  line-height: 60px;
  text-transform: inherit;
  font-family: "Exo 2" sans-serif;
}

.work__text {
  width: 490px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  color: rgb(107, 107, 108);
  line-height: 24px;
  text-transform: inherit;
  font-family: "PT Sans" sans-serif;
}

.work__list {
  margin-top: 56px;
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 30px;
}

.work__item {
  width: 393px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
}

.work_list-content {
  padding: 24px 70px 33px 32px;
}

.work__item-title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(54, 55, 56);
  line-height: 27px;
  text-transform: inherit;
  font-family: "Exo 2" sans-serif;
}

.work__item-text {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(107, 107, 108);
  line-height: 24px;
  text-transform: inherit;
  font-family: "PT Sans" sans-serif;
}

.work-link {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  color: rgb(54, 55, 56);
  line-height: 21px;
  text-transform: inherit;
  font-family: "Exo 2" sans-serif;
  position: relative;
}
.work-link::after {
  content: "";
  width: 82px;
  height: 0;
  position: absolute;
  top: 25px;
  left: 0;
  border: 3px solid rgb(255, 206, 80);
}

.work-tablet-img, .work-mobile-img {
  display: none;
}

/* Tablet */
@media only screen and (max-width: 1296px) {
  .work-section {
    padding-bottom: 44px;
    text-align: center;
  }
  .work__title {
    margin-bottom: 32px;
    font-size: 44px;
    font-weight: 600;
    color: rgb(54, 55, 56);
    line-height: 60px;
    text-transform: inherit;
  }
  .work__text {
    width: 100%;
  }
  .work__list {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: 0;
    gap: 30px;
    flex-direction: column;
  }
  .work__item {
    width: 690px;
  }
  .work-laptop-img, .work-mobile-img {
    display: none;
  }
  .work-tablet-img {
    display: block;
  }
  .work-sec {
    display: none;
  }
}
/* Mobile */
@media only screen and (max-width: 723px) {
  .work-section {
    padding-bottom: 28px;
    text-align: center;
  }
  .work__title {
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 600;
    color: rgb(54, 55, 56);
    line-height: 55px;
    text-transform: inherit;
  }
  .work__text {
    width: 100%;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    color: rgb(107, 107, 108);
    line-height: 24px;
    text-transform: inherit;
  }
  .work__list {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: 0;
    gap: 30px;
    flex-direction: column;
  }
  .work__item {
    width: 345px;
    text-align: left;
  }
  .work-laptop-img, .work-tablet-img {
    display: none;
  }
  .work-mobile-img {
    display: block;
  }
  .work-sec, .work-mob {
    display: none;
  }
}
.step-section {
  padding-bottom: 166px;
}

.step_title {
  margin-bottom: 48px;
  font-size: 48px;
  font-weight: 600;
  color: rgb(54, 55, 56);
  line-height: 60px;
  text-transform: inherit;
  font-family: "Exo 2" sans-serif;
}

.step__list {
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 24px;
  flex-direction: column;
}

.step_item {
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 56px;
  align-items: start;
  padding: 32px 96px 32px 96px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
}

.step__item-title {
  margin-bottom: 48px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(54, 55, 56);
  line-height: 25px;
  text-transform: inherit;
  font-family: "Exo 2" sans-serif;
  position: relative;
}
.step__item-title::after {
  content: "";
  width: 86px;
  height: 0;
  position: absolute;
  top: 44px;
  left: 0;
  border: 3px solid rgb(255, 206, 80);
}

.step__item-text {
  max-width: 568px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 4 0;
  color: rgb(107, 107, 108);
  line-height: 24px;
  text-transform: inherit;
  font-family: " PT Sans" sans-serif;
}

.video {
  margin-top: 62px;
}

/* Tablet */
@media only screen and (max-width: 1194px) {
  .step-section {
    text-align: center;
  }
  .video {
    width: 100%;
    height: 100%;
  }
}
/* Mobile */
@media only screen and (max-width: 800px) {
  .step__list, .step_title {
    display: none;
  }
  .step-section {
    text-align: center;
  }
  .video {
    width: 100%;
    height: 100%;
  }
}
.site-footer {
  padding: 59px 0 29px;
  background: rgb(11, 117, 114);
}

.footer-top {
  display: flex;
  align-items: start;
  justify-content: 0;
  gap: 0;
}

.footer_list-wrapper {
  display: flex;
  align-items: start;
  justify-content: 0;
  gap: 97px;
  margin: 0 180px 0 134px;
}

.footer__list-catalog {
  display: flex;
  align-items: start;
  justify-content: 0;
  gap: 25px;
  flex-direction: column;
}

.footer__list-model {
  display: flex;
  align-items: start;
  justify-content: 0;
  gap: 15px;
  flex-direction: column;
}

.footer__link {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 20px;
  text-transform: capitalize;
  width: 143px;
  font-family: "Exo 2" sans-serif;
  letter-spacing: 16%;
  transition: all 0.3s linear;
}
.footer__link:hover {
  color: rgb(255, 150, 25);
}

.footer-icon {
  display: flex;
  gap: 14px;
}

.fa-brands {
  font-size: 22px;
  color: rgb(251, 252, 254);
  transition: all 0.3s linear;
  border-radius: 50%;
  padding: 7px;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
}

.fa-instagram:hover {
  color: rgb(255, 150, 25);
  border: 2px solid rgb(255, 150, 25);
}

.fa-facebook:hover {
  color: rgb(255, 150, 25);
  border: 2px solid rgb(255, 150, 25);
}

.footer__contact {
  display: flex;
  align-items: start;
  justify-content: 0;
  gap: 32px;
  flex-direction: column;
}

.footer__contact-number {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Exo 2" sans-serif;
}

.footer__contact-link {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  line-height: 20px;
  text-transform: uppercase;
  padding: 7px 40px 7px 11px;
  font-family: "Open Sans" sans-serif;
  box-sizing: border-box;
  border: 1px solid rgb(255, 150, 25);
  background: rgb(255, 150, 25);
  position: relative;
  transition: all 0.3s linear;
}
.footer__contact-link::after {
  content: "";
  width: 14.45px;
  height: 10px;
  background-image: url(../../images/arrow.svg);
  background-repeat: no-repeat;
  right: 17px;
  top: 13px;
  position: absolute;
}
.footer__contact-link:hover {
  background: rgb(11, 117, 114);
}

.footer-text {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 18px;
  text-transform: capitalize;
  margin-top: 79px;
  font-family: "Exo 2" sans-serif;
  text-align: center;
}

/* Tablet */
@media only screen and (max-width: 1114px) {
  .site-footer {
    padding: 30px 0 21px;
  }
  .footer_list-wrapper {
    display: flex;
    align-items: start;
    justify-content: 0;
    gap: 97px;
    margin: 0 50px 0 71px;
  }
  .footer-icon {
    gap: 7px;
  }
  .fa-brands {
    font-size: 14px;
  }
  .footer__list-catalog {
    display: flex;
    align-items: start;
    justify-content: 0;
    gap: 20px;
  }
  .footer__list-model {
    display: flex;
    align-items: start;
    justify-content: 0;
    gap: 13px;
  }
  .footer__contact {
    gap: 21px;
  }
  .footer__contact-number {
    margin-bottom: 0;
    font-size: 8px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 20px;
    text-transform: uppercase;
  }
  .footer__contact-link {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 20px;
    text-transform: uppercase;
    padding: 4px 33px 4px 4px;
  }
  .footer__contact-link::after {
    content: "";
    width: 14.45px;
    height: 10px;
    background-image: url(../../images/arrow.svg);
    background-repeat: no-repeat;
    right: 13px;
    top: 10px;
    position: absolute;
  }
  .footer__contact-link .footer-text {
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    line-height: 18px;
    text-transform: capitalize;
    margin-top: 35px;
    text-align: center;
  }
}
/* Mobile */
@media only screen and (max-width: 750px) {
  .site-footer {
    padding: 14px 0 29px;
  }
  .footer-top a img {
    width: 61px;
    height: 33px;
  }
  .footer-top {
    display: flex;
    align-items: center;
    justify-content: 0;
    gap: 0;
    flex-direction: column;
  }
  .footer_list-wrapper {
    display: flex;
    align-items: start;
    justify-content: 0;
    gap: 97px;
    margin: 23px 0 17px 0;
  }
  .footer__link {
    margin-bottom: 0;
    font-size: 8px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    line-height: 12px;
    text-transform: capitalize;
  }
  .footer-icon {
    gap: 5px;
  }
  .fa-brands {
    font-size: 10px;
  }
  .footer__contact-number {
    margin-bottom: 0;
    font-size: 8px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 20px;
    text-transform: uppercase;
  }
  .footer__contact-link {
    margin-bottom: 0;
    font-size: 8px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 20px;
    text-transform: uppercase;
  }
  .footer-text {
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    line-height: 18px;
    text-transform: capitalize;
    margin-top: 24px;
    width: 161.7px;
  }
}/*# sourceMappingURL=main.css.map */