
.comfortable-section {
    padding-bottom: 120px;
}

.comfortable-back-image {
    height: 453px;
    background-image: url(../../images/comfortable-bg.png);
    background-repeat: no-repeat;
    position: relative;
    &::after {
        content: "";
        width: 769px;
        height: 453.5px;
        position: absolute;
        background-image: url(../../images/comfortable-bg-color.png);
        top: 0;
    }
}
.comfortable__image-title {
    max-width: 443px;
    padding: 178px 0 166px 90px;
    @include textStyle($MB:0px, $FS:48px, $FW:600, $CLR:rgb(255, 255, 255), $LH:60px, $CASE:inherit);
    font-family: "Exo 2" sans-serif;
    position: relative;
    z-index: 20;
}
.comfortable__card {
    margin-top: 72px;
}
.comfortable-list {
    @include Display($items:center, $space:0, $gap:0);
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 62px;
    column-gap: 140px
}
.comfortable-item {
    width: 447px;
    @include Display($items:center, $space:space-between, $gap:40px);
}
.comfortable__list-content {
    text-align: left;
}
.comfortable__list-title {
    @include textStyle($MB:16px, $FS:20px, $FW:600, $CLR:$title-color, $LH:24px, $CASE:inherit);
    font-family: "Exo 2" sans-serif;
}
.comfortable__list-text {
}